# To show all files only.
alias lsfiles="ls -p | grep -v /"

# ------
# Python
# ------

# Remove python files.
alias pyclean="find . | grep -E '(__pycache__|\.pyc|\.pyo$)' | xargs rm -rf"

# This makes use of venv as a single command.
alias venv="python3 -m venv"

# Use python3 as default
alias python="python3"
alias pip="pip3"

# ------
# C/ C++ 
# ------

alias gcc="gcc-10"
alias g++="g++-10"

