[user]
    name = Vikrant Gajria
    email = vikrantgajria@gmail.com
	signingkey = D700DE80AAE5B53C
[core]
    excludesfile = /Users/vikrant/.gitignore
[commit]
	gpgsign = false 
[gpg]
	program = gpg2
